html {
    font: 1rem/1.5 Rubik, Arial, sans-serif;
}

body {
    background-image: linear-gradient(90deg, rgba(17,0,28,1) 0%, rgba(53,1,44,1) 40%, rgba(79,1,71,1) 68%, rgba(58,1,92,1) 100%);
}

.container {
    width: 500px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(50deg, rgba(235,231,231,1) 0%, rgba(255,255,255,1) 50%, rgba(235,231,231,1) 100%);
}

.header {
    display: flex;
    align-items: center;

    h1 {
        order: 1;
        user-select: none;
    }

    img {
        width: 65px;
    }
}

.body {
    form {
        $frm-children-height: 45px;
        display: flex;

        #input-task {
            flex: 1;
            font: inherit;
            font-size: 0.852rem;
            height: $frm-children-height;
            padding: 0 25px;
            border: none;
            border-radius: 45px;
            box-sizing: border-box;
            background-color: rgb(222, 225, 228);

            &:focus {
                outline: none;
            }
        }

        button {
            width: 100px;
            height: $frm-children-height;
            padding: 10px;
            color: #FFF;
            font: inherit;
            font-weight: bold;
            font-size: 0.75rem;
            text-transform: uppercase;
            border: none;
            border-radius: 45px;
            cursor: pointer;
            position: absolute;
            right: 4%;
            background-color: #ffa500;
            transition-property: background-color;
            transition-duration: 0.5s;

            &:hover {
                background-color: #ffad16;
            }
        }
    }

    ul {
        li {
            font-size: 0.85rem;
            list-style-type: none;
        }
    }
}